[submodule "WeakLabelModel"]
	path = WeakLabelModel
	url = https://github.com/Orieus/WeakLabelModel.git
[submodule "labelFactory"]
	path = labelFactory
	url = https://github.com/Orieus/labelFactory.git
[submodule "menuNavigator"]
	path = menuNavigator
	url = https://github.com/Orieus/menuNavigator.git
[submodule "SVM_spark"]
	path = SVM_spark
	url = https://github.com/angelnaviavazquez/SVM_spark.git
[submodule "regMVA"]
	path = regMVA
	url = https://github.com/sevisal/regMVA.git
[submodule "SSHIBA"]
	path = SSHIBA
	url = https://github.com/sevisal/SSHIBA.git
[submodule "KSSHIBA"]
	path = KSSHIBA
	url = https://github.com/sevisal/KSSHIBA.git
[submodule "dbManager"]
	path = dbManager
	url = https://github.com/jeroarenas/dbManager.git
[submodule "TMtweets"]
	path = TMtweets
	url = https://github.com/jperdel/TMtweets.git
[submodule "DistributedCWLM"]
	path = DistributedCWLM
	url = https://github.com/jperdel/DistributedCWLM.git
[submodule "one_def_classification"]
	path = one_def_classification
	url = https://github.com/Orieus/one_def_classification.git
[submodule "pysparkMVA"]
	path = pysparkMVA
	url = https://github.com/jeroarenas/pysparkMVA.git
[submodule "PTL_data"]
	path = PTL_data
	url = https://github.com/jeroarenas/PTL_data.git
[submodule "supergraph"]
	path = supergraph
	url = https://github.com/Orieus/supergraph
[submodule "PdbManager"]
	path = PdbManager
	url = https://github.com/Grarck/PdbManager
